/*모래 배경 시작*/
.beach {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #FFCE99;
}


.sand{ /*젖은 모래*/
    position: absolute;
    top: -100vh;
    width: 100%;
    height: 100vw;
    background-image: url("../../img/index/wet_sand_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: sand 6s infinite ease-in-out;
    rotate: 180deg;
}
/*모래 배경 끝*/



/*에러 메시지 시작*/
.beach>h1{
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 15vh;
    font-family: chab;
    color: white;
    width: 100%;
    font-size: 4vw;
    font-weight: lighter;
}

.beach>h2{
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 27vh;
    font-family: chab;
    color: white;
    width: 100%;
    font-size: 3vw;
    font-weight: lighter;
}


.btn_box{
    position: absolute;
    top: 40vh;
    text-align: center;
    width: 100%;
    z-index: 5;
}

.home_btn{
    text-decoration: none;
    color: #E0A368;
    background: #FFCE99;
    font-family: chab;
    font-size: 2vw;
    font-weight: lighter;
    padding: 1vh 1vw;
    border-radius: 2vw;
}

/*에러 메시지 끝*/

/*아래 다이버, 쓰레기 시작*/

.bottom_deco{
    position: absolute;
    z-index: 5;
    bottom: -5vh;
    width: 100%;
    text-align: center;
    perspective: 40vw;
}

#diver{
    width: 20vw;
}

#banana_trash{
    width: 7vw;
    position: relative;
    left: -10vw;
    top: -2vh;
    transform: rotateX(10deg);
}

#sea_star{
    width: 7vw;
    position: relative;
    left: 10vw;
    transform: rotateX(20deg);
}

/*아래 다이버, 쓰레기 끝*/