/*파도 배경 시작*/
.beach {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #FFCE99;
}


.sand{ /*파도 아래 모래*/
    position: absolute;
    top: -114vh;
    width: 100%;
    height: 100vw;
    background-image: url("../../img/index/wet_sand_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;
    animation: sand 6s infinite ease-in-out;
    rotate: 180deg;
}

.wave { /*파도*/
    position: absolute;
    top: -114vh;
    width: 100%;
    height: 100vw;
    background-image: url("../../img/index/wave1.png");
    animation: wave1 6s infinite linear ;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    rotate: 180deg;
}

#wave2 { /*파도2*/
    top: -123vh;
    animation: wave2 6s infinite linear;
    background-image: url("../../img/index/wave2.png");
    opacity: 1;
    z-index: 1;
    rotate: 180deg;
}

#wave3 { /*파도3*/
    top: -133vh;
    animation: wave3 6s infinite linear;
    background-image: url("../../img/index/wave3.png");
    opacity: 1;
    z-index: 2;
    rotate: 180deg;
}


@keyframes sand { /*젖은 모래 표현 애니메이션*/
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes wave1 { /*파도1 애니메이션*/
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(6vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wave2 { /*파도2 애니메이션*/
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(8vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wave3 { /*파도3 애니메이션*/
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(11vh);
    }
    100% {
        transform: translateY(0);
    }
}

/*파도 배경 끝*/



/*에러 메시지 시작*/
.beach>h1{
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 15vh;
    font-family: chab;
    color: white;
    width: 100%;
    font-size: 4vw;
    font-weight: lighter;
}

.beach>h2{
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 26vh;
    font-family: chab;
    color: white;
    width: 100%;
    font-size: 3vw;
    font-weight: lighter;
}

/*에러 메시지 끝*/

/*아래 장식 시작*/

.bottom_deco{
    position: absolute;
    z-index: 0;
    bottom: -5vh;
    width: 100%;
    text-align: center;
    perspective: 40vw;
}

#ee{
    width: 50vw;
}

/*아래 장식 끝*/