.login_wrap {
    font-family: omyu_pretty;
    width: 100%;
    height: 120vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/index/loginBG.jpg");
    background-size: cover;
    background-position: center;
}
.login_wrap li{
    list-style: none;
}

.login_box{
    width: 30vw;
    margin: 0 auto;
    padding: 4.5vw 3vh;
    background-color: transparent;
    box-shadow: 0px 0px 5px 5px rgba(225, 225, 255, 0.2);
    border-radius: 5vw;
    backdrop-filter: blur(20px);
    color: white;
    font-weight: bold;
    position: relative;
    top: -8vh;
    text-align: center;
    overflow: hidden;
}
.join_box{
    width: 30vw;
    margin: 0 auto;
    padding: 3vw 3vh;
    background-color: transparent;
    box-shadow: 0px 0px 5px 5px rgba(225, 225, 255, 0.2);
    border-radius: 5vw;
    backdrop-filter: blur(20px);
    color: white;
    font-weight: bold;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.login-form {
    width: 100%;
    margin-bottom: 5%;
    font-size: 1.1vw;
}
.form_title{
    font-size: 2.3vw;
    font-family: chab;
    font-weight: lighter;
    padding-bottom: 2vw;
}

.login_wrap label{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.logininput{
    width: 80%;
    height: 4.5vh;
    margin: 3% 0;
    font-size: 1.2rem;
    font-family: omyu_pretty;
    border-radius: 5vw;
    padding-left: 0.7vw;
    border: none;
}
.logininput:focus{
    outline: #5DCCF3 solid 2px;
}

.ckBtn{
    display: flex;
    flex-direction: row;
    width: 82%;
    align-items: center;
    justify-content: space-between;
}
.emailCk_btn{
    border-radius: 2vw;
    background-color: white;
    border: 2px solid #5DCCF3;
    color: #5DCCF3;
    padding: 1vh 0.8vw;
    font-family: omyu_pretty;
    font-size: 1vw;
    font-weight: bold;
    margin-left: 0.5vw;
}

.schoolselect, .localselect{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    margin-bottom: 1vw;
}
.schoolselect label, .localselect label{
    padding: 0.5vw 0.5vw 0 0;
}

#schoolLevel{
    border-radius: 2vw;
    border: 2px solid #5DCCF3;
    color: #5DCCF3;
    background-color: white;
    font-family: omyu_pretty;
    font-size: 1vw;
    font-weight: bold;
    padding: 0.5vw;
    width: 21vw;
    text-align: center;
    outline: 1px solid #5DCCF3;
    margin-top: 1vh;
}

#localCode{
    border-radius: 2vw;
    border: 2px solid #5DCCF3;
    color: #5DCCF3;
    background-color: white;
    font-family: omyu_pretty;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vh 1.5vw;
    width: 19vw;
    text-align: center;
    outline: 1px solid #5DCCF3;
    margin-top: 1vh;
}


.login_btnbox{
    width: 100%;
}

#pwd{
    margin-bottom: 1.5vw;
}

.login_btn, .join_btn{
    background-color: #5DCCF3;
    border: none;
    color: white;
    font-size: 1.2vw;
    height: 5vh;
    width: 82%;
    font-family: omyu_pretty;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5vw;
}
.login_btn:hover{
    background-color: #6DD8F9;
}

.joingo{
    text-align: center;
}

@media screen and (max-width: 425px) {
    .login_box {
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-self: center;
        position: relative;
        padding-top: 40%;
        margin: 0;
    }
}

.agree{
    font-size: 1.1vw;
    width: 80%;
    text-align: left;
    white-space: nowrap;
    font-weight: normal;
    margin-bottom: 2vh;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group2{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.joingo, .logingo{
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2vh;
}

.joingogo, .logingogo {
    cursor: pointer;
    color: #5DCCF3;
    padding-left: 0.5vw;
}
