<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script th:src="@{/js/user/join.js}"></script>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <style>

    </style>
</head>
<body>
<div class="login_wrap">
    <div class="join_box">
    <div class="form_title">회원가입</div>
    <form method="post" th:action="@{/join}" th:object="${dto}" class="login-form">
        <ul>
            <li class="input-group">
                <label for="email">이메일</label>
                <div class="ckBtn">
                <input type="text" id="email" name="email" th:field="*{email}" placeholder="Email" class="logininput">
                <input type="button" value="중복체크" id="emailCk" class="emailCk_btn">
                </div>
                <span><th:block th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></th:block></span>

                <div id="check"></div>
            </li>
            <li class="input-group">
                <label for="pwd">비밀번호</label>
                <input type="password" id="pwd" name="pwd" th:field="*{pwd}" placeholder="Password" class="logininput">
                <span><th:block th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></th:block></span>
            </li>
            <li class="input-group">
                <label for="pwdCk">비밀번호 확인</label>
                <input type="password" id="pwdCk" onchange="passConfirm()" placeholder="Confirm password" class="logininput">
                <span id="confirmMsg"></span>
            </li>
            <li class="input-group">
                <label for="name">이름</label>
                <input type="text" id="name" name="name" th:field="*{name}" placeholder="Name" class="logininput">
                <span><th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></th:block></span>
            </li>
            <li class="input-group">
                <label for="phone">전화번호</label>
                <input type="text" id="phone" name="phone" th:field="*{phone}" placeholder="Phone" class="logininput">
                <span><th:block th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></th:block></span>
            </li>
            <li class="input-group2">
                <div class="schoolselect">
                        <label>학교급</label>
                        <select name="schoolLevel" id="schoolLevel" th:field="*{schoolLevel}">
                            <option value="EL">초등학생</option>
                            <option value="ML">중학생</option>
                            <option value="HL">고등학생</option>
                        </select>
                </div>
            </li>
            <li class="input-group">
                <div class="agree">
                <input type="checkbox" id="agree" name="agree" th:field="*{agree}" value="1">
                (선택)마케팅 활용 동의<br>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;(동의시 시험결과 상세리포트 조회가 가능합니다)</span>
                <input type="hidden" name="agree" th:value="0">
                </div>
            </li>
            <li class="login_btnbox">
                <button type="submit" class="join_btn">가입하기</button>
            </li>
        </ul>
    </form>
    <div class="logingo">
        <span>이미 계정이 있으신가요?</span>
        <b onclick="toggle()" class="logingogo">
            Sign in here
        </b>
    </div>
    </div>
</div>
</div>
<script>
    function toggle() {
        window.location.href = "/login";
    }
</script>
</body>
</html>
