<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}">
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">
    <title>회원가입</title>
    <script th:src="@{/js/user/join.js}"></script>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">


</head>
<body>
<div class="login_wrap">
    <div class="join_box">
    <div class="form_title">회원가입</div>
    <form method="post" th:action="@{/join}" th:object="${dto}" class="login-form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <ul>
            <li class="input-group">
                <label for="email">이메일</label>
                <div class="ckBtn">
                <input type="text" id="email" name="email" th:field="*{email}" placeholder="Email" class="logininput">
                <input type="button" value="중복체크" id="emailCk" class="emailCk_btn">
                </div>
                <span><th:block th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></th:block></span>

                <div id="check"></div>
            </li>
            <li class="input-group">
                <label for="pwd">비밀번호</label>
                <input type="password" id="pwd" name="pwd" th:field="*{pwd}" placeholder="Password" class="logininput">
                <span><th:block th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></th:block></span>
            </li>
            <li class="input-group">
                <label for="pwdCk">비밀번호 확인</label>
                <input type="password" id="pwdCk" onchange="passConfirm()" placeholder="Confirm password" class="logininput">
                <span id="confirmMsg"></span>
            </li>
            <li class="input-group">
                <label for="name">이름</label>
                <input type="text" id="name" name="name" th:field="*{name}" placeholder="Name" class="logininput">
                <span><th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></th:block></span>
            </li>
            <li class="input-group">
                <label for="phone">전화번호</label>
                <input type="text" id="phone" name="phone" th:field="*{phone}" placeholder="-를 빼고 작성하세요" class="logininput">
                <span><th:block th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></th:block></span>
            </li>
            <li class="input-group2">
                <div class="localselect">
                    <label>관할 교육청</label>
                    <select name="localCode" id="localCode" onchange="updateLocalName()">
                        <option value="7801000" data-name="강원특별자치도교육청">강원특별자치도교육청</option>
                        <option value="7530000" data-name="경기도교육청">경기도교육청</option>
                        <option value="9010000" data-name="경상남도교육청">경상남도교육청</option>
                        <option value="8750000" data-name="경상북도교육청">경상북도교육청</option>
                        <option value="7380000" data-name="광주광역시교육청">광주광역시교육청</option>
                        <option value="7240000" data-name="대구광역시교육청">대구광역시교육청</option>
                        <option value="7430000" data-name="대전광역시교육청">대전광역시교육청</option>
                        <option value="7430000" data-name="부산광역시교육청">부산광역시교육청</option>
                        <option value="7010000" data-name="서울특별시교육청">서울특별시교육청</option>
                        <option value="9300000" data-name="세종특별자치시교육청">세종특별자치시교육청</option>
                        <option value="7480000" data-name="울산광역시교육청">울산광역시교육청</option>
                        <option value="7310000" data-name="인천광역시교육청">인천광역시교육청</option>
                        <option value="8490000" data-name="전라남도교육청">전라남도교육청</option>
                        <option value="8321000" data-name="전북특별자치도교육청">전북특별자치도교육청</option>
                        <option value="9290000" data-name="제주특별자치도교육청">제주특별자치도교육청</option>
                        <option value="8140000" data-name="충청남도교육청">충청남도교육청</option>
                        <option value="8000000" data-name="충청북도교육청">충청북도교육청</option>
                    </select>
                    <input type="hidden" name="localName" id="localName" th:field="*{localName}">
                </div>
            </li>
            <li class="input-group2">
                <div class="schoolselect">
                        <label>학교급</label>
                        <select name="schoolLevel" id="schoolLevel" th:field="*{schoolLevel}">
                            <option value="EL">초등학생</option>
                            <option value="ML">중학생</option>
                            <option value="HL">고등학생</option>
                        </select>
                </div>
            </li>
            <li class="input-group">
                <div class="agree">
                    <input type="checkbox" id="agree" name="agree" th:field="*{agree}" value="1">
                    (선택)마케팅 활용 동의<br>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;(동의시 시험결과 상세리포트 조회가 가능합니다)</span>
                    <input type="hidden" name="agree" th:value="0">
                </div>
            </li>
            <li class="login_btnbox">
                <button type="submit" class="join_btn">가입하기</button>
            </li>
        </ul>
    </form>
    <div class="logingo">
        <span>이미 계정이 있으신가요?</span>
        <b onclick="toggle()" class="logingogo">
            Sign in here
        </b>
    </div>
    </div>
</div>
</div>
<script>
    function toggle() {
        window.location.href = "/login";
    }
    function updateLocalName() {
        const select = document.getElementById('localCode');
        const selectedOption = select.options[select.selectedIndex];
        const localName = selectedOption.getAttribute('data-name');
        document.getElementById('localName').value = localName;
    }
</script>
</body>
</html>
