<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script th:src="@{/js/user/join.js}"></script>
    <style>
        .join_wrap{
            padding-top: 50px;
        }

    </style>
</head>
<body>
<div class="join_wrap">
<div>회원가입</div>
<form method="post" th:action="@{/join}" th:object="${dto}">
    <ul>
<!--        <div th:if="${error}">
            <p style="color: red;">이미 등록된 이메일입니다. 다른 이메일을 사용해주세요.</p>
        </div>-->
        <li>
            <label for="email">이메일</label>
            <input type="text" id="email" name="email" th:field="*{email}">
            <input type="button" value="중복 체크" id="emailCk" class="emailCk_btn">
            <!--<span id="emailCheckResult"></span> &lt;!&ndash; 중복체크 결과를 표시할 영역 &ndash;&gt;-->
            <span><th:block th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></th:block></span>
            <div id="check"></div>
        </li>
        <li>
            <label for="pwd">비밀번호</label>
            <input type="password" id="pwd" name="pwd" th:field="*{pwd}">
            <span><th:block th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></th:block></span>
        </li>
        <li>
            <label for="pwdCk" class="join_title">비밀번호 확인</label>
            <span><input type="password" id="pwdCk" onchange="passConfirm()"></span>
            <span id="confirmMsg"></span>
        </li>
        <li>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" th:field="*{name}">
            <span><th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></th:block></span>
        </li>
        <li>
            <label for="phone">전화번호</label>
            <input type="text" id="phone" name="phone" th:field="*{phone}">
            <span><th:block th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></th:block></span>
        </li>
        <li>
            <label>학교급</label>
            <select name="schoolLevel" id="schoolLevel" th:field="*{schoolLevel}">
                <option value="EL">초등학생</option>
                <option value="ML">중학생</option>
                <option value="HL">고등학생</option>
            </select>
        </li>
        <li>
            <input type="checkbox" id="agree" name="agree" th:field="*{agree}" value="1">
            이거슬...해야만...상세리포트를 볼 수 있읍니다........
            <input type="hidden" name="agree" th:value="0">
        </li>
<!--        <li>-->
<!--            <input type="hidden" id="role" name="role" th:field="*{role}" value="USER"> 여기서 안받고 dto에서 디폴트로 받음-->
<!--        </li>-->
        <li>
            <button type="submit" class="join_btn">가입하긔</button>
        </li>
    </ul>
</form>
</div>
</body>
</html>
