<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
</head>
<body>
<div class="login_wrap">
    <div class="login_box">
        <div class="form_title">로그인</div>
        <form th:action="@{/login}" method="post" class="login-form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="input-group">
                <label for="email">이메일</label>
                <input type="text" id="email" name="email" placeholder="Email" class="logininput" required autofocus>
            </div>
            <div class="input-group">
                <label for="pwd">패스워드</label>
                <input type="password" id="pwd" name="pwd" placeholder="Password" class="logininput" required>
            </div>
            <div class="login_btnbox">
                <button type="submit" class="login_btn">로그인</button>
            </div>
        </form>

        <div class="joingo">
            <span>아직 회원이 아니신가요?</span>
            <b onclick="toggle()" class="joingogo">
                가입하기
            </b>
        </div>
    </div>
</div>

<script th:inline="javascript">

    //로그인 실패 메세지
    /*<![CDATA[*/
    var errorMessage = /*[[${errorMessage}]]*/ null;
    if (errorMessage) {
        alert(errorMessage);
    }
    /*]]>*/

    function toggle() {
        window.location.href = "/join";
    }
</script>
</body>
</html>
