<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .login_wrap{
            padding-top: 50px;
        }

    </style>
</head>
<body>
<div class="login_wrap">
<form th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div>
        <label th:for="email">이메일</label>
        <input type="text" th:id="email" th:name="email" required autofocus><br>
    </div>
    <div>
        <label th:for="pwd">비밀번호</label>
        <input type="password" th:id="pwd" th:name="pwd" required>
    </div>
    <button type="submit">로그인</button>


</form>
<a th:href="@{/join}">회원가입</a>
</div>
</body>
</html>