<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/info/play_test.css}">
    <link rel="stylesheet" th:href="@{/css/info/bg_template.css}">
</head>
<body>
    <div id="wrap">
        <img class="top_deco" th:src="@{/img/index/sea_light.png}" th:alt="바다빛">
        <h1>동영상 및 소리테스트</h1>
        <div id="play_test_box">
            <h3>동영상 테스트를 실시하여 주시기 바랍니다. <br>
                이상이 없으면 [이상 없습니다] 버튼을 클릭하여 주시기 바랍니다.</h3>
            <div class="media_box">
                <p>
                    아래의 동영상을 플레이하여
                    <span class="highlight_sea">영상 및 소리가 정상적으로 나오는지 확인</span>
                        해 주십시오.</p>
                <div>
                    <video controls controllist="noplaybackrate nodownload" disablepictureinpicture>
                        <source th:src="'https://kdt-java-5-2.s3.ap-northeast-2.amazonaws.com/video/13%EB%B2%88+%EC%98%81%EC%83%81_%ED%8E%B8%EC%A7%91%EB%B3%B8.mp4'" type="video/mp4">
                    </video>
                </div>

            </div>

            <a th:href="@{|/warnInfo/${eid}/1|}" id="no_problem_btn">이상 없습니다</a>

        </div>

        <img class="bubble_left" th:src="@{/img/index/bubble2.png}" th:alt="버블2">
        <img class="bubble_right" th:src="@{/img/index/bubble1.png}" th:alt="버블1">

        <div class="coral_reef">
            <img class="coral_reef_item" th:src="@{/img/index/coral_reef_left.png}" th:alt="산호초_좌" draggable="false">
            <img class="coral_reef_item" th:src="@{/img/index/coral_reef_right.png}" th:alt="산호초_우" draggable="false">
        </div>

        <img class="bottom_deco" th:src="@{/img/index/sea_sand.png}" th:alt="모래바닥" draggable="false">

    </div>
</body>
</html>