<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <div id="nav_header">
            <a id="logo_box" th:href="@{/index}">
                <img id="logo" th:src="@{/img/index/logo2.png}">
            </a>
            <nav>
                <ul>
                    <li class="main_menu" id="main_menu1">
                        <p>CBT연습</p>
                        <ul class="sub_menu" id="sub_menu1" style="display: none">
                            <li><a th:href="@{/cbtTest/EL}">초등</a></li>
                            <li><a th:href="@{/cbtTest/ML}">중등</a></li>
                            <li><a th:href="@{/cbtTest/HL}">고등</a></li>
                        </ul>
                    </li>

                    <li class="main_menu" id="main_menu2">
                        <p>실전시험</p>
                        <ul class="sub_menu" id="sub_menu2" style="display: none">
                            <li><a th:href="@{/testgogo/1}">실전시험 1회</a></li>
                            <li><a th:href="@{/testgogo/2}">실전시험 2회</a></li>
                        </ul>
                    </li>

                    <li class="main_menu" id="main_menu3">
                        <p>REPORT</p>
                        <ul class="sub_menu" id="sub_menu3" style="display: none">
                            <li>기본리포트</li>
                            <li>상세리포트</li>
                        </ul>
                    </li>

                    <li class="main_menu" id="main_menu4">
                        <p>교재/공부</p>
                        <ul class="sub_menu" id="sub_menu4" style="display: none">
                            <li><a href="https://brand_achievement.chunjae.co.kr/achievement/index.html" target="_blank">교재소개</a></li>
                            <li><a href="https://i.milkt.co.kr/Main/frm_Main.aspx" target="_blank">밀크T아이</a></li>
                            <li><a href="https://www.milkt.co.kr/Main/Main_new" target="_blank">밀크T초등</a></li>
                            <li><a href="https://mid.milkt.co.kr/Main/frm_Main.aspx" target="_blank">밀크T중학</a></li>
                            <li><a href="https://high.milkt.co.kr/Main/frm_Main.aspx" target="_blank">밀크T고등</a></li>
                        </ul>
                    </li>
                    <li></li>

                    </th:block>
                    <li id="login_box">
                        <th:block sec:authorize="!isAuthenticated()">
                            <a id="login_btn" th:href="@{/login}">로그인</a>
                        </th:block>
                        <th:block  sec:authorize="hasAnyRole('ADMIN','USER')">
                            <span id="user_info" th:text="|${username} 님|" th:if="${#authentication.name}"></span>
                            <a id="logout_btn" th:href="@{/logout}">로그아웃</a>
                        </th:block>

                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>