<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/error/error500.css}">
</head>
<body>
    <div class="beach">


        <img class="left_shark" th:src="@{img/error/shark.png}" th:alt="상어_좌">

        <img class="right_shark" th:src="@{img/error/shark.png}" th:alt="상어_우">



        <h1>ERROR 500</h1>
        <h2>접근할 수 없습니다!</h2>

        <div class="bottom_deco">
            <img id="banana_trash" th:src="@{/img/error/banana.png}" th:alt="바나나">
            <img id="diver" th:src="@{/img/error/diver.png}" th:alt="다이버">
            <img id="sea_star" th:src="@{/img/error/seastar.png}" th:alt="불가사리">
        </div>


        <div class="sand"></div>
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
    </div>
</body>
</html>