<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/error/special500.css}">
</head>
<body>
<div class="beach">

    <h1>ERROR 500</h1>
    <h2>에러메시지 error message</h2>

    <div class="bottom_deco">
        <img th:src="@{/img/error/ee.png}" th:alt="ee" id="ee">
    </div>


    <div class="sand"></div>
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
</div>
</body>
</html>