@font-face {
    font-family: 'omyu_pretty';
    src: url("../../font/omyuPretty.ttf") format('truetype');
}

.logo img {
    display: inline-block;
    width: 110px;
    position: relative;
    top: 10px;
    left: 20px;
    margin-right: 5px;
}

.header{
    background-color: white;
}

.viewer-paper .head .btn-wrap{
    margin-right: 12px;
    align-items: center;
}

.header .btn-wrap button{
    border-radius: 50px;
    font-family: omyu_pretty;
    height: 70%;
    margin-right: 5px;
    background: white;
    border: 1px solid powderblue;
    width: 50px;
}

.header .btn-wrap button:hover{
    background: #f1f1f1;
}

.header .btn-wrap button.active{
    background: #f1f1f1;
}


.header .btn-wrap button.clear-btn{
    background: white;
    border: 1px solid powderblue;
}


.pop-memo .pop-header .pop-close .hbar{
    background-color: white;
}

.header .time-box{
    border-radius: 25px;
    height: 70%;
    background: white;
    border: 1px solid powderblue;
    margin-right: 10px;
}

.header .time-box .txt{
    font-family: omyu_pretty;
}

.header .time-box .time-txt{
    border-radius: 25px;
    margin-left: 10px;
    background-color: #f1f1f1;
    color: #5DCCF3;
    border: 1px solid #f1f1f1;
    font-size: 22px;
    position: relative;
    padding: 10px 0 12px 0;
}

.swiper-button-next, .swiper-button-prev{
    background-color: #09A6DC;
    border: 1px solid #09A6DC;
    height: 35px;
    width: 70px;
    border-radius: 15px;
    color: white;
    margin-left: 5px;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    background: #4EC0E8;
    border: 1px solid #4EC0E8;
}

/*#9AD1E2*/
.swiper-button-next:after{
    font-family: omyu_pretty;
    font-size: 18px;
}

.swiper-button-prev:after {
    font-family: omyu_pretty;
    font-size: 18px;
}

.custom_icon{
    width: 30px;
}

.viewer-paper .head{
    border-bottom: none;
}

.viewer-paper .head .txt{
    font-family: 'omyu_pretty';
    font-size: 22px;
    margin-left: 15px;
}

.header .btn-submit{
    background-color: #5DCCF3;
    border-radius: 20px;
    border: 1px solid #5DCCF3;
    font-family: omyu_pretty;
    font-size: 22px;
    font-weight: normal;
    width: 90px;
    height: 50px;
    margin-right: 10px;
}

.header .btn-submit:hover{
    background-color: #8ED1FF;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: white;
    border-radius: 14px;
    border: 1px solid #5dccf3;
    margin-top: 3px;
    font-family: omyu_pretty;
    font-size: 18px;
    color: #5dccf3;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active{
    border: 1px solid #3B96E1;
    color: #3B96E1;
}
.viewer-omr{
    background-color: whitesmoke;
    overflow: scroll;
    overflow-x: hidden;

}

textarea:focus{
    outline: none;
}

.viewer-omr::-webkit-scrollbar{ /*스크롤바 커스텀*/
    /*스크롤바의 너비*/
    width: 7px;
}
.viewer-omr::-webkit-scrollbar-thumb{ /*스크롤바 커스텀*/
    /*스크롤바의 높이*/
    height: 30%;
    /*스크롤바의 색상*/
    background: lightgrey;
    border-radius: 10px;
}
.viewer-omr::-webkit-scrollbar-track{ /*스크롤바 커스텀*/
    /*스크롤바 뒷 배경 색상*/
    background: #f1f1f1;
    border-radius: 50px;
}

.page .question .num{
    border-radius: 10px;
    border: none;
    white-space: nowrap;
    padding: 10px 30px;
}

.pop-memo{
    border-radius: 30px;
    border: 1px;
    background: white;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
}

.pop-memo .pop-cnt{
    padding: 10px;
}

.pop-memo .pop-cnt:focus{
    border: none;
    outline: none;
}

.pop-memo .pop-header{
    border-radius: 20px 20px 0 0;
    background: #09A6DC;
    border-bottom: #09A6DC;
}

.pop-memo .pop-header .txt{
    font-family: 'omyu_pretty';
    font-size: 20px;
    margin-left: 10px;
    color: white;
    font-weight: normal;
}

.pop-memo .pop-cnt textarea{
    border-radius: 20px;
    padding: 10px;
    font-family: 'omyu_pretty';
    background: #f1f1f1;
    border: none;
}

.pop-memo .pop-header .pop-close{
    margin-right: 5px;
}

/* 클릭 시 애니메이션 클래스 */
.button-clicked {
    animation: buttonClickAnimation 0.3s;
}

@keyframes buttonClickAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.btn-ans {
    color:blue;
}