/*파도 배경 시작*/
#ranking_wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #FFCE99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sand{ /*파도 아래 모래*/
    position: absolute;
    top: -114vh;
    width: 100%;
    height: 100vw;
    background-image: url("../../img/index/wet_sand_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;
    animation: sand 6s infinite ease-in-out;
    rotate: 180deg;
}

.wave { /*파도*/
    position: absolute;
    top: -114vh;
    width: 100%;
    height: 100vw;
    background-image: url("../../img/index/wave1.png");
    animation: wave1 6s infinite linear ;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    rotate: 180deg;
}

#wave2 { /*파도2*/
    top: -123vh;
    animation: wave2 6s infinite linear;
    background-image: url("../../img/index/wave2.png");
    opacity: 1;
    z-index: 1;
    rotate: 180deg;
}

#wave3 { /*파도3*/
    top: -133vh;
    animation: wave3 6s infinite linear;
    background-image: url("../../img/index/wave3.png");
    opacity: 1;
    z-index: 2;
    rotate: 180deg;
}


@keyframes sand { /*젖은 모래 표현 애니메이션*/
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes wave1 { /*파도1 애니메이션*/
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(6vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wave2 { /*파도2 애니메이션*/
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(8vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wave3 { /*파도3 애니메이션*/
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(11vh);
    }
    100% {
        transform: translateY(0);
    }
}

/*파도 배경 끝*/

/*타이틀 시작*/
#ranking_wrap>h1{
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 10vh;
    font-family: chab;
    color: white;
    width: 100%;
    font-weight: lighter;
    font-size: 3.5vw;
}
/*타이틀 끝*/

/*랭킹 게시판 보드 시작*/
#ranking_box{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 5;
    background: #E0A368;
    padding: 3vw;
    border-radius: 4vw;
    top: 10vh;
}

#ranking_box h1{
    text-align: center;
    margin-bottom: 1.5vh;
    font-family: omyu_pretty;
    font-size: 1.8vw;
}

.paper{ /* 깔리는 종이 배경 */
    width: 20vw;
    height: 23vw;
    background-color: white;
    position: absolute;
    top: 7vh;
    z-index: -1;
    padding: 2vw;
    border-radius: 3vw;
    margin-left: 0.5vw;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.section_box{ /*콘텐트가 담기는 영역*/
    background-color: white;
    padding: 2vw;
    border-radius: 3vw;
    width: 20vw;
    height: 23vw;
    position: relative;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.box_left .section_box{
    margin-right: 3vw;
}

.spring_box{ /* 스프링이 담긴 상자 */
    position: absolute;
    width: 84%;
    display: flex;
    justify-content: space-between;
    top: -4vh;
}

.spring{
    width: 3vw;
    height: 5vw;
}


#map{ /*지도 영역*/
    border-radius: 2vw;
    width: 20vw;
    height: 20vw;

}

#rank{ /*랭킹 영역*/
    border-radius: 2vw;
    width: 20vw;
    height: 20vw;
    background: whitesmoke;
    overflow: scroll;
    overflow-x: hidden;
}

#rank::-webkit-scrollbar{ /*스크롤바 커스텀*/
    /*스크롤바의 너비*/
    width: 0.5vw;
}
#rank::-webkit-scrollbar-thumb{ /*스크롤바 커스텀*/
    /*스크롤바의 높이*/
    height: 30%;
    /*스크롤바의 색상*/
    background: lightgrey;
    border-radius: 1vw;
}
#rank::-webkit-scrollbar-track{ /*스크롤바 커스텀*/
    /*스크롤바 뒷 배경 색상*/
    background: #f1f1f1;
    border-radius: 1vw;
    margin: 3vw 0 2vw 0;
}

#rank table{ /*순위표*/
    font-family: 'omyu_pretty';
    font-size: 1.3vw;
    text-align: center;
    width: 90%;
    margin: 1vh auto;
    white-space: nowrap;
    border-collapse: collapse;
}

#rank table th{
    padding: 0 0 0.5vw;
}

.localName {
    text-align: left;
    align-items: center;
    display: flex;
    margin: 0 1vw;
}

.highlight_pen{
    background: #FEF8C8;
}

.localName span{
    margin-left: 0.5vw;
}

.edu_logo{ /*교육청 로고*/
    width: 2vw;
    margin: 0.4vw 0;
}

/*랭킹 게시판 보드 끝*/



/* 바닥 장식 시작*/

.deco_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.deco_item{
    width: 10vw;
    position: relative;
    top: -1vw;
    z-index: 0;
}

#ball{
    left: 8vw;
}

#sea_star{
    right: 10vw;
}

/* 바닥 장식 끝*/
