@font-face {
    font-family: 'omyu_pretty';
    src: url("../../font/omyuPretty.ttf") format('truetype');
}

body{
    background-color: #46B1B7;
    padding: 5vw;
    height: auto;
}

#question_view_wrap{
    padding: 5vw 0;
    background: white;
    border-radius: 6vw;
}

.page {
    width: 99%;
}

.page .answer-drag-type .btn-img {
    overflow: auto;
}

.page .question .num{
    border-radius: 1vw;
    border: none;
}

.page {
    width: 99%;
}
.box_qContents{
    width: 80%;
}
.box_comment {
    width: 65%;
    margin: 3vw auto;
    padding: 2vw 3vw;
    border-radius: 3vw;
    position: relative;
    background: rgba(88, 196, 196, 0.2);
}

.box_comment h3 {
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: 2vh;
    font-family: omyu_pretty;
}

.box_comment p {
    font-size: 1.5vw;
    margin-bottom: 2vh;
    font-family: omyu_pretty;
    color: blue;
}