#basic_wrap{ /*영역 잡기*/
    width: 100%;
    background-color: #46B1B7;
    position: relative;
    font-family: omyu_pretty;
    padding-bottom: 30vh;
}

#basic_wrap>h1{ /*페이지 타이틀*/
    font-family: chab;
    color: white;
    top: 8vh;
    position: relative;
    text-align: center;
    font-size: 2.5vw;
    font-weight: normal;
    z-index: 1;
}

.title_icon{
    width: 2.8vw;
    position: relative;
    top: 1vh;
}

/*배경 커스텀 시작*/
.top_deco{ /* 위에 물결 장식 */
    height: 40vh;
}

.bubble_left{ /*왼쪽 거품*/
    animation: move_up 18s infinite ease-in-out;
    animation-delay: 3s; /*3초 지연*/
}

.bubble_right{ /*오른쪽 거품*/
    animation: move_up 18s infinite ease-in-out;
}

@keyframes move_up { /* 위로 올라가는 공기방울 애니메이션 */
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-300vh);
        opacity: 0.2;
    }
}

.coral_reef_item{ /*산호초 좌,우 아이템*/
    width: 50vh;
    top: -1vw;
}

/* 바다 바닥 장식 */
.bottom_deco{
    height: 5%;
}

/*배경 커스텀 끝*/

.report_wrap {
    width: 58%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12vh;
    z-index: 3;
    padding: 1vw 5vw 1vw;
    border-radius: 5vw;
    background: white;
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
    border-top: 2vw solid white;
    border-bottom: 3vw solid white;
    border-right: 0.5vw solid white;
    border-left: 0.5vw solid white;
}

/*.report_wrap::-webkit-scrollbar {*/
/*    !* 스크롤바의 너비 *!*/
/*    width: 0.5vw;*/
/*}*/
/*.report_wrap::-webkit-scrollbar-thumb {*/
/*    !* 스크롤바의 길이 *!*/
/*    height: 30%;*/
/*    !* 스크롤바의 색상 *!*/
/*    background: rgba(182,190,237,0.4);*/
/*    border-radius: 1vw;*/
/*}*/

/*.report_wrap::-webkit-scrollbar-track {*/
/*    !*스크롤바 뒷 배경 색상*!*/
/*    background: rgba(215,221,247,0.3);*/
/*    border-radius: 5vw;*/
/*    margin: 10vh 0;*/
/*}*/

.report_wrap ul li {
    list-style: none;
    margin-bottom: 0.5vw;
 }

.report_wrap ul{
    padding-left: 0;
}

/* 제목들 */
.report_wrap h1{
    font-size: 1.3vw;
    font-weight: bold;
    margin-bottom: 2vh;
}
/* 제목 아이콘*/
.report_wrap h1 i{
    margin-right: 8px;
}


/* 회차/과목명 이동 메뉴 */
#selectForm{
    display: flex;
    justify-content: flex-end;
}
#selectForm select{
    width: 80px;
    height: 32px;
    border-radius: 12px;
    padding: 8px;
    margin: 0 4px;
    font-family: omyu_pretty;
}

#selectForm button {
    width: 73px;
    height: 34px;
    border-radius: 12px;
    padding: 8px;
    border: 0px;
    font-family: omyu_pretty;
}

/*기본 리포트 시험 참여 정보*/

/*아이콘*/

.basicBox1 .exam_info_icon{
    width: 1.5vw;
    padding: 0 0.1vw;
    position: relative;
    top: 0.3vw;
    left: 0.3vw;
    margin-right: 0.5vw;
}

.basicBox1 .exam_info_icon2{
    width: 1.2vw;
    padding: 0 0.1vw;
    position: relative;
    top: 0.3vw;
    left: 0.3vw;
    margin-right: 0.7vw;
}


.basicBox1 ul{
    font-size: 1.1vw;
}

.exam_info_title{
    width: 10vh;
    display: inline-block;
}


/*점수*/
.score_box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4vh 0;
    padding: 2vh 0;
    background-color: rgba(88, 196, 196, 0.4);
    border-radius: 1.2vw;
}

.score_box .score {
    font-size: 1.3rem;
    font-weight: bold;
}

.score_box .score span {
    color: rgb(44, 127, 132);
}


/* 문항별 정오표 테이블 */
.report_basic table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    font-size: 1.1vw;
    margin-bottom: 4vh;
}
.report_basic table thead tr{
    border-radius: 2vw;
}
.report_basic table thead tr th{
    padding: 1vh;
    background-color: rgba(88, 196, 196, 0.4);
}
.report_basic table thead tr th:nth-child(1){
    width:5%;
}
.report_basic table thead tr th:nth-child(2){
    width:10%;
}
.report_basic table thead tr th:nth-child(3){
    width:30%;
}
.report_basic table thead tr th:nth-child(4){
    width:30%;
}
.report_basic table thead tr th:nth-child(5){
    width:15%;
}

.report_basic table tbody tr td{
    padding: 10px 0;
    border-bottom: 1px dotted lightgray;
}

.report_basic table tbody tr td .btn_question{
    width: 80%;
    height: 80%;
    border-radius: 12px;
    padding: 8px;
    border: 0px;
    font-size: 1.1vw;
    cursor: pointer;
    font-family: omyu_pretty;
}


/* 서답형 정오표 테이블 - 정답칸 정렬만 왼쪽 정렬로 */
#basicSubjectivelist tr td:nth-child(3), #basicSubjectivelist tr td:nth-child(4) {
    text-align: left;
    padding: 10px 10px;
}


/* 정오표 채점결과 정답/오답 표시 */
.fa-circle-check {
    color: green;
}
.fa-circle-xmark {
    color: red;
}

/** 서답형 hidden 처리 -> 값이 있는 경우에 보여주기*/
.report_sub{
    display: none;
}


/* 정오표 테이블 안의 이미지 */
.report_basic table tbody img {
    width: 90%;
}