#detail_wrap{ /*영역 잡기*/
    width: 100%;
    background-color: #46B1B7;
    position: relative;
    font-family: omyu_pretty;
    padding-bottom: 30vh;
}

#detail_wrap2{ /*영역 잡기*/
    width: 100%;
    height: 100vh;
    background-color: #46B1B7;
    position: relative;
    font-family: omyu_pretty;
}

#detail_wrap>h1, #detail_wrap2>h1{ /*페이지 타이틀*/
    font-family: chab;
    color: white;
    top: 8vh;
    position: relative;
    text-align: center;
    font-size: 2.5vw;
    font-weight: normal;
    z-index: 1;
}

.title_icon{
    width: 2.8vw;
    position: relative;
    top: 1vh;
}

/*배경 커스텀 시작*/
.top_deco{ /* 위에 물결 장식 */
    height: 40vh;
}

.bubble_left{ /*왼쪽 거품*/
    animation: move_up 25s infinite ease-in-out;
    animation-delay: 3s; /*3초 지연*/
}

.bubble_right{ /*오른쪽 거품*/
    animation: move_up 25s infinite ease-in-out;
}

@keyframes move_up { /* 위로 올라가는 공기방울 애니메이션 */
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-600vh);
        opacity: 0.2;
    }
}

.coral_reef_item {
    width: 50vh;
}

/* 바다 바닥 장식 */
.bottom_deco{
    height: 3%;
}

.bottom_deco2{
    height: 3%;
}

/*배경 커스텀2 - 마케팅 동의 여부창 배경 끝*/

.report_wrap {
    width: 58%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12vh;
    z-index: 3;
    padding: 1vw 5vw 1vw;
    border-radius: 5vw;
    background: white;
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
    border-top: 2vw solid white;
    border-bottom: 3vw solid white;
    border-right: 0.5vw solid white;
    border-left: 0.5vw solid white;
}

.report_wrap2 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12vh;
    z-index: 3;
    padding: 1vw 5vw 1vw;
    border-radius: 6vw;
    background: white;
    height: 50vh;
    border-top: 3vw solid white;
    border-bottom: 3vw solid white;
    border-right: 0.5vw solid white;
    border-left: 0.5vw solid white;
}

/*.report_wrap::-webkit-scrollbar {*/
/*    !* 스크롤바의 너비 *!*/
/*    width: 0.5vw;*/
/*}*/
/*.report_wrap::-webkit-scrollbar-thumb {*/
/*    !* 스크롤바의 길이 *!*/
/*    height: 30%;*/
/*    !* 스크롤바의 색상 *!*/
/*    background: rgba(182,190,237,0.4);*/
/*    border-radius: 1vw;*/
/*}*/

/*.report_wrap::-webkit-scrollbar-track {*/
/*    !*스크롤바 뒷 배경 색상*!*/
/*    background: rgba(215,221,247,0.3);*/
/*    border-radius: 5vw;*/
/*    margin: 10vh 0;*/
/*}*/


.report_wrap ul li {
    list-style: none;
}

.report_wrap ul {
    padding-left: 0;
}

/* 제목들 */
.report_wrap h1 {
    display: flex;
    font-size: 1.3vw;
    font-weight: bold;
    width: 80%;
    padding: 1.5vw 2vw 0.5vw;
}

/* 제목 아이콘*/
.report_wrap h1 i {
    margin-right: 0.8vw;
}

/* 회차/과목명 이동 메뉴 */
#selectForm {
    display: flex;
    justify-content: flex-end;
}

#selectForm select, #selectForm button {
    width: 4vw;
    height: 3.3vh;
    border-radius: 0.7vw;
    padding: 0.4vw;
    margin: 0 0.2vw;
    font-size: 0.7vw;
    font-family: omyu_pretty;
}

#selectForm button {
    border: none;
}

/* 평가결과 요약 */
.detailBox1 {
    font-size: 1.2vw;
}

/* 성취 수준 */
.bar_wrap {
    width: 100%;
    position: relative;
}

.bar_wrap .user_level {
    position: absolute;
    font-size: 1vw;
    font-weight: 700;
    color: #46B1B7;
    cursor: pointer;
    top: 1.3vh;
}


.fish_icon{
    width: 2vw;
    animation: floating 3s infinite ease-in-out;
}

@keyframes floating { /*둥둥 떠다니는 물고기 애니메이션*/
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(0.5vh);
    }
    100%{
        transform: translateY(0);
    }
}

.bar_wrap .bar {
    display: flex;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 76px;
}

.bar_wrap .bar > div {
    flex: 1;
    font-size: 18px;
    display: inline-block;
    width: 195px;
    height: 50px;
    margin: -1.3px;
    padding: 0;
}

.bar_wrap .bar > div em {
    text-align: center;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    padding: 0.8vw 0;
}

.bar_wrap .bar > div p {
    font-size: 1rem;
}

.bar_wrap .bar > div:nth-child(1) {
    background: #caf0f8;
    border-radius: 1.5vw 0 0 1.5vw
}

.bar_wrap .bar > div:nth-child(2) {
    background: #ade8f4;
}

.bar_wrap .bar > div:nth-child(3) {
    background: #90e0ef;
}

.bar_wrap .bar > div:nth-child(4) {
    background: #48cae4;
    border-radius: 0 1.5vw 1.5vw 0;
}

.pt20 {
    padding-top: 20px;
}

.bar p {
    text-align: center;
    line-height: 3vh;
}

/* -----------------------------------*/

/* 통계표 */
.chart_box {
    padding: 1vw 3vw;
    text-align: center;
}

.chart_box table {
    padding: 12px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 36px;
    table-layout: fixed;
    text-align: center;
    font-size: 1.2rem;
}

.chart_box table thead tr {
    background: rgba(88, 196, 196, 0.4);
}

.chart_box table thead tr th {
    padding: 10px 0;
}

.chart_box table tbody tr td {
    padding: 10px 0;
    border-bottom: 1px dotted lightgray;
}





/* 참고* 그래프 색/두께는 js파일에서 수정가능. report_detail.js */


/* 정오표 */
.report_detail table{
    margin: 1vw auto 3vw;
    width: 88%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    font-size: 0.9vw;
}

.report_detail table thead tr th{
    padding: 0.4vh 0;
    background: rgba(88, 196, 196, 0.4);
}
.report_detail table thead tr th:nth-child(1){
    width:5%;
}
.report_detail table thead tr th:nth-child(2){
    width:10%;
}
.report_detail table thead tr th:nth-child(3){
    width:15%;
}
.report_detail table thead tr th:nth-child(4){
    width:15%;
}
.report_detail table thead tr th:nth-child(5){
    width:10%;
}
.report_detail table thead tr th:nth-child(6){
    width:10%;
}
.report_detail table thead tr th:nth-child(7){
    width:10%;
}

.report_detail table tbody tr td{
    padding: 10px 0;
    border-bottom: 1px dotted lightgray;
    border-right: 1px dotted lightgray;
    border-left: 1px dotted lightgray;
}

.report_detail table tbody tr td .btn_question{
    width: 80%;
    border-radius: 0.8vw;
    padding: 0.4vw;
    border: none;
    font-size: 0.8vw;
    cursor: pointer;
    font-family: omyu_pretty;
}



/* 서답형 정오표 테이블 - 정답칸 정렬만 왼쪽 정렬로 */
#subjectivelist tr td:nth-child(3), #subjectivelist tr td:nth-child(4) {
    text-align: left;
    padding: 10px 10px;
}

/* 정오표 채점결과 정답/오답 표시 */
.fa-circle-check {
    color: green;
}

.fa-circle-xmark {
    color: red;
}

/** 서답형 hidden 처리 -> 값이 있는 경우에 보여주기*/
.report_sub{
    display: none;
}

/* 정오표 테이블 안의 이미지 */
.report_detail table tbody img {
    width: 90%;
}


/*pdf 출력 버튼 시작*/

#pdf_btn_box{
    width: 100%;
    display: flex;
    justify-content: right;
    position: relative;
    top: -2.7vh;
    left: -0.5vw;
}

#print_btn{
    font-size: 1vw;
    color: #46B1B7;
    font-weight: bold;
    align-items: center;
    display: flex;
}

#print_btn:hover{
    color: #5CC7CE;
}

#pdf_icon{
    width: 1.5vw;
}

/*pdf 출력 버튼 끝*/


/*마케팅 여부 동의 안했을 때 화면 시작*/

.info_section{
    text-align: center;
    position: relative;
    top: 3vh;
}

.info_section h1{
    font-size: 2vw;
    margin-bottom: 2vh;
}

.info_section h2{
    font-size: 1.2vw;
    margin-bottom: 8vh;
    color: #757575;
}

#warn_icon{
    width: 10vw;
    margin-bottom: 3vh;
}

#agree_btn{
    background: #46B1B7;
    padding: 1vw;
    border-radius: 1.3vw;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
}

#agree_btn:hover{
    background: #5CC7CE;
}
/*마케팅 여부 동의 안했을 때 화면 끝*/