#wrap{ /*영역 잡기*/
    width: 100%;
    height: 110vh;
    background-color: #46B1B7;
    position: relative;
    font-family: omyu_pretty;
}

#wrap>h1{ /*페이지 타이틀*/
    font-family: chab;
    color: white;
    top: 10vh;
    position: relative;
    text-align: center;
    font-size: 2.5vw;
    font-weight: normal;
}

#play_test_box{ /*테스트 박스*/
    top: 13vh;
    position: relative;
    background-color: white;
    width: 50vw;
    margin: 0 auto;
    padding: 2vw;
    border-radius: 3vw;
    text-align: center;
    z-index: 5;
    font-size: 1.2vw;
}

#play_test_box>h3{
    color: rgba(0,0,0,0.4);
    font-size: 1.2vw;
}

.media_box{ /*동영상 플레이하는 영역*/
    padding: 2vw;
    border-radius: 3vw;
    background: ghostwhite;
    margin: 4vh auto;
    width: 80%;
    overflow: hidden;
}

.media_box p{
    margin-bottom: 1.5vw;
}

.highlight_sea{ /*바다색 형광펜*/
    background: rgba(179, 227, 231, 0.7);
    border-radius: 0.2vw;
}

#no_problem_btn{ /* 이상 없습니다 버튼 */
    background: #46B1B7;
    padding: 1.5vh 1vw;
    color: white;
    border-radius: 2vw;
    font-weight: bolder;
    text-decoration: none;
}

video{
    border-radius: 1vw;
    width: 30vw;
}






